

  .input-container {
    position: relative;
    left: 26%;
    width: 50%;
  }
  
  .label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.3s;
    padding: 0 2.5px;
    z-index: 1;
    color: #b3b3b3;
  }
  
  .label::before {
    content: "";
    height: 5px;
    background: rgba(var(--bs-light-rgb));
    position: absolute;
    left: 0px;
    top: 8px;
    width: 100%;
    z-index: -1;
  }
  
  .text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #9c9c9c;
    background: rgba(var(--bs-light-rgb));
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.5s;
    color: black;
  }
  
  .text-input:focus {
    border: 2px solid black;
  }
  
  .text-input:focus + .label,
  .nonEmpty {
    top: -8px;
    color: black;
    font-size: 14px;
  }
  
  .text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .text-input:focus::placeholder {
    opacity: 1;
  }
  .error-styling, .password-error-styling{
    display: block;
    text-align: left;
    margin-left: 0;
    padding-left: 12px;
    background-color: #9b0101;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-bottom: -18px !important;
}
.error-styling{
  margin-top: 5px;
}
.password-error-styling{
  margin-top: -19px;
}
.error-input-box{
  border: 2px solid #9b0101;
}
.error-input-box:focus{
  border: 2px solid #9b0101;
}
.error-label{
  color: #9b0101;
}
.error-input-box:focus + .error-label{
    color: #9b0101;
  }
.eye-icon{
  position: relative;
  top: -36px;
  left: 90%;
  margin-right: 10px;
  cursor: pointer;
  width: fit-content;
  opacity: 80%;
}
.error-eye svg{
  color: #9b0101;
}
