.cart-details{
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .checkbox-cart{
    margin-right: 15px;
  }
  .cart-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
  }
  .cart-image-section img{
    width: 100px;
  }
  .header-cart{
   padding-top: 10px;
  }
  .horizontal-line{
    background-color: rgb(158, 158, 158);
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
  }
    .cart-button{
      cursor: pointer;
      text-decoration: none;
      border-radius: 30px;
      text-align: center;
      margin: 5px 0
    }
    .cart-card{
      padding-bottom: 20px;
    }