


  .shoeCol{
    display: flex;
    justify-content: center;
}
.shoeSVG{
    width: 50%;
    margin-top: 80px;
}

.shoeSVG img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px) rotate(4deg);
      }
      100% {
          transform: translateY(-20px) ;
      }
  }

  .form-side{
        border-left: 1px solid black;
        

}

.spinner-center{
    position: absolute;
    top: 50%;
}